In [1]:
## import libraries

import boto3
import pandas as pd
import numpy as np
import dash
import creds

In [2]:
## get the data from Dynamodb
db_client = boto3.resource('dynamodb',aws_access_key_id=creds.AWS_ACCESS_KEY,aws_secret_access_key=creds.AWS_SECRET_ACCESS_KEY)

In [3]:
attendance = db_client.Table('attendance').scan()
attendance = pd.DataFrame(attendance['Items'])
attendance

,event_type,cell_group,date_attended,name,attendance_type
0,Cell Group,ONE,2024-04-05 00:00:00,Aaron Chiang,Absent Valid
1,Cell Group,Bouquet,2024-04-05 00:00:00,Ade-Lyn Tay,Present
2,Cell Group,Bouquet,2024-04-05 00:00:00,Andrew Chen,Present
3,Cell Group,ONE,2024-04-05 00:00:00,Bobby Cheng,Present
4,Cell Group,ONE,2024-04-05 00:00:00,Bryan Yau,Present
...,...,...,...,...,...
393,Cell Group,Kadesh,2024-02-16 00:00:00,Ryder Wong,Absent Valid
394,Cell Group,ONE,2024-02-16 00:00:00,Samuel Pupella,Present
395,Cell Group,Bouquet,2024-02-16 00:00:00,Teo Jia En,Present
396,Cell Group,ONE,2024-02-16 00:00:00,Timothy Tan,Present
397,Cell Group,Bouquet,2024-02-16 00:00:00,Yap Jun Hong,Absent Valid

In [14]:
def get_data(table_name, db_client):
    data = pd.DataFrame(db_client.Table(table_name).scan()['Items'])
    return data

In [15]:
attendance = get_data('attendance',db_client)
members = get_data('person',db_client)

print('shape of attendance:',attendance.shape)
print('shape of members:',members.shape)

shape of attendance: (398, 5)
shape of members: (79, 5)

In [16]:
full_list = attendance[['event_type','cell_group','date_attended']].drop_duplicates().merge(members[['cell_group','role','name']], on = ['cell_group'], how = 'outer')
full_list = full_list.merge(attendance, on = ['event_type','cell_group','date_attended','name'], how = 'left')
full_list['attendance_type'] = np.where(full_list['attendance_type'].isna(), 'Absent Invalid', full_list['attendance_type'])
full_list

,event_type,cell_group,date_attended,role,name,attendance_type
0,Cell Group,ONE,2024-04-05 00:00:00,New Friend,Matthias Chan,Present
1,Cell Group,ONE,2024-04-05 00:00:00,Member,Jonathan Teo,Present
2,Cell Group,ONE,2024-04-05 00:00:00,New Friend,Isabelle (Jon’s friend),Absent Invalid
3,Cell Group,ONE,2024-04-05 00:00:00,Member,Bryan Yau,Present
4,Cell Group,ONE,2024-04-05 00:00:00,Leader,Caleb Chan,Absent Valid
...,...,...,...,...,...,...
875,Sunday Service,Gilead,2024-03-17 00:00:00,Member,Pierson Png,Absent Valid
876,Sunday Service,Gilead,2024-03-17 00:00:00,Member,Kayden Lim,Absent Valid
877,Sunday Service,Gilead,2024-03-17 00:00:00,Leader,Ryan Wong,Present
878,Sunday Service,Gilead,2024-03-17 00:00:00,Member,Joshua Teo,Present
879,Sunday Service,Gilead,2024-03-17 00:00:00,Leader,Mark Chua,Present

In [17]:
full_list[(full_list['date_attended']=='2024-03-01 00:00:00')&(full_list['cell_group']=='ONE')]

,event_type,cell_group,date_attended,role,name,attendance_type
297,Cell Group,ONE,2024-03-01 00:00:00,New Friend,Matthias Chan,Present
298,Cell Group,ONE,2024-03-01 00:00:00,Member,Jonathan Teo,Present
299,Cell Group,ONE,2024-03-01 00:00:00,New Friend,Isabelle (Jon’s friend),Absent Invalid
300,Cell Group,ONE,2024-03-01 00:00:00,Member,Bryan Yau,Present
301,Cell Group,ONE,2024-03-01 00:00:00,Leader,Caleb Chan,Present
302,Cell Group,ONE,2024-03-01 00:00:00,Member,Caleb Chan,Present
303,Cell Group,ONE,2024-03-01 00:00:00,Member,Gilia Quek,Present
304,Cell Group,ONE,2024-03-01 00:00:00,Member,Jasariel Chee,Present
305,Cell Group,ONE,2024-03-01 00:00:00,Member,Aaron Chiang,Present
306,Cell Group,ONE,2024-03-01 00:00:00,New Friend,Samuel Pupella,Absent Invalid
307,Cell Group,ONE,2024-03-01 00:00:00,New Friend,Claire (Timothy’s friend),Absent Invalid
308,Cell Group,ONE,2024-03-01 00:00:00,New Friend,Jayden (Jeslyn’s friend),Absent Invalid
309,Cell Group,ONE,2024-03-01 00:00:00,Member,Timothy Tan,Present
310,Cell Group,ONE,2024-03-01 00:00:00,Member,Matthew Wong,Absent Invalid
311,Cell Group,ONE,2024-03-01 00:00:00,Member,Eliot,Present
312,Cell Group,ONE,2024-03-01 00:00:00,New Friend,Zoey (TW’s friend),Absent Invalid
313,Cell Group,ONE,2024-03-01 00:00:00,Member,Wayne Lee,Absent Invalid
314,Cell Group,ONE,2024-03-01 00:00:00,Member,Michael Chua,Absent Invalid
315,Cell Group,ONE,2024-03-01 00:00:00,New Friend,Milton (TW’s friend),Absent Invalid
316,Cell Group,ONE,2024-03-01 00:00:00,Member,Joel Lau,Absent Invalid
317,Cell Group,ONE,2024-03-01 00:00:00,New Friend,Sheena (TW’s friend),Absent Invalid
318,Cell Group,ONE,2024-03-01 00:00:00,Leader,Bobby Cheng,Present
319,Cell Group,ONE,2024-03-01 00:00:00,New Friend,Natalie (Jeslyn’s friend),Absent Invalid
320,Cell Group,ONE,2024-03-01 00:00:00,New Friend,Stan (TW’s friend),Absent Invalid
321,Cell Group,ONE,2024-03-01 00:00:00,Member,Lee Chen Ye,Present
322,Cell Group,ONE,2024-03-01 00:00:00,New Friend,Zi Cong (Gilia’s friend),Absent Invalid
323,Cell Group,ONE,2024-03-01 00:00:00,Leader,Phoebe Chan,Present
324,Cell Group,ONE,2024-03-01 00:00:00,Member,Sng Jia Jun,Absent Invalid
325,Cell Group,ONE,2024-03-01 00:00:00,Member,Nadya Vijay,Absent Valid
326,Cell Group,ONE,2024-03-01 00:00:00,Member,Chua Ting Wei,Absent Valid
327,Cell Group,ONE,2024-03-01 00:00:00,Member,Matthias Chan,Absent Invalid
328,Cell Group,ONE,2024-03-01 00:00:00,Member,Nikita,Absent Invalid
329,Cell Group,ONE,2024-03-01 00:00:00,New Friend,Jia Ni (Jeslyn’s friend),Absent Invalid

In [18]:
df

,event_type,cell_group,date_attended,role,name,attendance_type
0,Cell Group,ONE,2024-04-05 00:00:00,New Friend,Matthias Chan,Present
1,Cell Group,ONE,2024-04-05 00:00:00,Member,Jonathan Teo,Present
2,Cell Group,ONE,2024-04-05 00:00:00,New Friend,Isabelle (Jon’s friend),Absent Invalid
3,Cell Group,ONE,2024-04-05 00:00:00,Member,Bryan Yau,Present
4,Cell Group,ONE,2024-04-05 00:00:00,Leader,Caleb Chan,Absent Valid
...,...,...,...,...,...,...
875,Sunday Service,Gilead,2024-03-17 00:00:00,Member,Pierson Png,Absent Valid
876,Sunday Service,Gilead,2024-03-17 00:00:00,Member,Kayden Lim,Absent Valid
877,Sunday Service,Gilead,2024-03-17 00:00:00,Leader,Ryan Wong,Present
878,Sunday Service,Gilead,2024-03-17 00:00:00,Member,Joshua Teo,Present
879,Sunday Service,Gilead,2024-03-17 00:00:00,Leader,Mark Chua,Present

In [19]:
df = full_list.copy()

## present the data for the percentages of members
cell_group = 'Bouquet'
event_type = 'ALL'
attendance_type = 'Present'
role = 'Member'

if cell_group == 'ALL':
    cell_group = df['cell_group'].unique()
else:
    cell_group = [cell_group]

if event_type == 'ALL':
    event_type = df['event_type'].unique()
else:
    event_type = [event_type]

if attendance_type == 'ALL':
    attendance_type = df['attendance_type'].unique()
else:
    attendance_type = [attendance_type]

if role == 'ALL':
    role = df['role'].unique()
else:
    role = [role]

filtered_df = df[
    (df['cell_group'].isin(list(cell_group)))&
    (df['event_type'].isin(list(event_type)))&
    (df['attendance_type'].isin(list(attendance_type)))&
    (df['role'].isin(list(role)))
]

denominator_df = df[
    (df['cell_group'].isin(list(cell_group)))&
    (df['event_type'].isin(list(event_type)))&
    # (df['attendance_type'].isin(list(attendance_type)))&
    (df['role'].isin(list(role)))
]

temp = filtered_df.groupby(['date_attended']).agg({'name':'count'}).reset_index()
denom = denominator_df.groupby(['date_attended']).agg({'name':'count'}).reset_index()

res = temp.merge(denom, on = 'date_attended', how = 'outer')
res.fillna(0.0, inplace = True)
res['percentage'] = round(res['name_x']/res['name_y']*100,1)
res

          date_attended  name_x  name_y  percentage
0   2024-02-16 00:00:00       6      16        37.5
1   2024-02-18 00:00:00      10      16        62.5
2   2024-02-23 00:00:00       3      16        18.8
3   2024-02-25 00:00:00       5      16        31.2
4   2024-03-01 00:00:00       6      16        37.5
5   2024-03-15 00:00:00       7      16        43.8
6   2024-03-17 00:00:00       6      16        37.5
7   2024-03-22 00:00:00       5      16        31.2
8   2024-03-24 00:00:00       6      16        37.5
9   2024-03-29 00:00:00      10      16        62.5
10  2024-03-31 00:00:00      11      16        68.8
11  2024-04-05 00:00:00       4      16        25.0

In [31]:
test = filtered_df.groupby(['event_type','week_number']).agg({'name':'count'}).reset_index().sort_values('week_number')

values = test.pivot(index='event_type',columns='week_number',values='name').values
y = test['event_type'].unique()
x = ['CW '+ value for value in test['week_number'].unique().astype(str)]

import plotly.express as px

fig = px.imshow(values, x=x, y=y, color_continuous_scale='BuGn', aspect="auto")
fig.update_traces(text = values, texttemplate="%{text}")
fig.update_xaxes(side="top")
fig

In [47]:
values

[array([ 6., nan,  6.,  7.,  5., nan,  4.]),
 array([nan,  3., nan, nan, nan, 10., nan]),
 array([10.,  5., nan,  6.,  6., 11., nan])]

In [41]:
x

array(['Cell Group', 'Others', 'Sunday Service'], dtype=object)

In [45]:
type(values)

numpy.ndarray

In [23]:
filtered_df['week_number'] = pd.to_datetime(filtered_df['date_attended']).dt.isocalendar().week
filtered_df

/var/folders/2p/zj7y6jln2cx01_2bx3tcsmy80000gn/T/ipykernel_7704/3107612618.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,event_type,cell_group,date_attended,role,name,attendance_type,week_number
429,Cell Group,Bouquet,2024-04-05 00:00:00,Member,Andrew Chen,Present,14
433,Cell Group,Bouquet,2024-04-05 00:00:00,Member,Luke Wong,Present,14
439,Cell Group,Bouquet,2024-04-05 00:00:00,Member,Ade-Lyn Tay,Present,14
447,Cell Group,Bouquet,2024-04-05 00:00:00,Member,Emily Ng,Present,14
455,Sunday Service,Bouquet,2024-02-18 00:00:00,Member,Andrew Chen,Present,7
...,...,...,...,...,...,...,...
719,Cell Group,Bouquet,2024-02-16 00:00:00,Member,Luke Wong,Present,7
725,Cell Group,Bouquet,2024-02-16 00:00:00,Member,Ade-Lyn Tay,Present,7
729,Cell Group,Bouquet,2024-02-16 00:00:00,Member,Chelsea Teo,Present,7
737,Cell Group,Bouquet,2024-02-16 00:00:00,Member,Chloe Low,Present,7
739,Cell Group,Bouquet,2024-02-16 00:00:00,Member,Jie Wei,Present,7

In [12]:
filtered_df['date_attended']

429    2024-04-05 00:00:00
433    2024-04-05 00:00:00
439    2024-04-05 00:00:00
447    2024-04-05 00:00:00
455    2024-02-18 00:00:00
              ...
719    2024-02-16 00:00:00
725    2024-02-16 00:00:00
729    2024-02-16 00:00:00
737    2024-02-16 00:00:00
739    2024-02-16 00:00:00
Name: date_attended, Length: 79, dtype: object

In [15]:
import plotly.express as px

x = ['Team A', 'Team B', 'Team C']
y = ['Game One', 'Game Two', 'Game Three']

z = [[.1, .3, .5],
     [1.0, .8, .6],
     [.6, .4, .2]]

z_text = [['Win', 'Lose', 'Win'],
          ['Lose', 'Lose', 'Win'],
          ['Win', 'Win', 'Lose']]

fig = px.imshow(z, x=x, y=y, color_continuous_scale='Viridis', aspect="auto")
fig.update_traces(text=z_text, texttemplate="%{text}")
fig.update_xaxes(side="top")
fig.show()

In [5]:
import plotly.express as px

x = ['']
y = ['']

z = [[0.0]]

z_text = [['99%']]

fig = px.imshow(z, x=x, y=y, color_continuous_scale='BrBG', aspect = 'auto')#, color_continuous_scale='Viridis', aspect="auto")
fig.update_traces(text=z_text, texttemplate="%{text}")
fig.update_xaxes(side="top")
fig.update_coloraxes(showscale=False)
fig.update_layout(font=dict(size=18))
fig.show()

In [51]:
members = db_client.Table('person')
members_response = members.scan()
members_df = pd.DataFrame(members_response['Items'])

In [52]:
table = db_client.Table('attendance')
members = db_client.Table('person')
members

dynamodb.Table(name='person')

In [53]:
members_response = members.scan()
members_df = pd.DataFrame(members_response['Items'])
members_df

    birth_date cell_group        role                        name telegram_id
0   01-01-2000    Bouquet      Member                 Andrew Chen        None
1   01-01-2000     Gilead      Leader               Matthias Chan        None
2   01-01-2000        ONE      Member                Jonathan Teo        None
3   01-01-2000    Bouquet  New Friend  Shin Ying (Chloe’s friend)        None
4   01-01-2000        ONE      Member                   Bryan Yau        None
..         ...        ...         ...                         ...         ...
63  01-01-2000    Bouquet  New Friend    Wen Jin (Chloe’s friend)        None
64  01-01-2000    Bouquet      Member                     Jie Wei        None
65  01-01-2000        ONE      Member                      Nikita        None
66  01-01-2000    Bouquet  New Friend       Seth (Chloe’s friend)        None
67  01-01-2000     Gilead      Leader                   Mark Chua        None

[68 rows x 5 columns]

In [54]:
response = table.scan()
items = pd.DataFrame(response['Items'])
items

,event_type,cell_group,date_attended,name,attendance_type
0,Sunday Service,ONE,2024-03-03 00:00:00,Aaron Chiang,Present
1,Sunday Service,ONE,2024-03-03 00:00:00,Bobby Cheng,Present
2,Sunday Service,ONE,2024-03-03 00:00:00,Chua Ting Wei,Present
3,Sunday Service,ONE,2024-03-03 00:00:00,Gilia Quek,Present
4,Sunday Service,ONE,2024-03-03 00:00:00,Jasariel Chee,Present
...,...,...,...,...,...
339,Cell Group,Kadesh,2024-02-16 00:00:00,Ryder Wong,Absent Valid
340,Cell Group,ONE,2024-02-16 00:00:00,Samuel Pupella,Present
341,Cell Group,Bouquet,2024-02-16 00:00:00,Teo Jia En,Present
342,Cell Group,ONE,2024-02-16 00:00:00,Timothy Tan,Present
343,Cell Group,Bouquet,2024-02-16 00:00:00,Yap Jun Hong,Absent Valid

In [55]:
combined = items.merge(members_df[['cell_group','name','role']], on = ['cell_group','name'])
combined

,event_type,cell_group,date_attended,name,attendance_type,role
0,Sunday Service,ONE,2024-03-03 00:00:00,Aaron Chiang,Present,Member
1,Cell Group,ONE,2024-03-15 00:00:00,Aaron Chiang,Absent Valid,Member
2,Others,ONE,2024-03-08 00:00:00,Aaron Chiang,Present,Member
3,Sunday Service,ONE,2024-02-25 00:00:00,Aaron Chiang,Present,Member
4,Others,ONE,2024-02-23 00:00:00,Aaron Chiang,Absent Valid,Member
...,...,...,...,...,...,...
340,Cell Group,Bouquet,2024-03-22 00:00:00,Jolize,Present,New Friend
341,Sunday Service,Kadesh,2024-03-17 00:00:00,Jonah Ng,Present,Member
342,Cell Group,ONE,2024-02-16 00:00:00,Matthew Wong,Absent Valid,Member
343,Cell Group,ONE,2024-02-16 00:00:00,Nikita,Absent Valid,Member
344,Cell Group,ONE,2024-02-16 00:00:00,Samuel Pupella,Present,New Friend

In [56]:
temp = combined[(combined['attendance_type']=='Present')&(combined['cell_group']=='Gilead')].groupby(['date_attended']).agg({'role':lambda x: (x == 'Member').sum(),
                                         'name':'count'}).reset_index()
temp['avg_percentage'] = temp['role']/temp['name']
temp

         date_attended  role  name  avg_percentage
0  2024-02-18 00:00:00     3     6        0.500000
1  2024-02-25 00:00:00     4     7        0.571429
2  2024-03-17 00:00:00     1     4        0.250000
3  2024-03-24 00:00:00     3     5        0.600000
4  2024-03-31 00:00:00     4     7        0.571429

In [57]:
set(['Matthias ','Matthias'])

{'Matthias', 'Matthias '}

In [58]:
data = pd.DataFrame(items)
data

,event_type,cell_group,date_attended,name,attendance_type
0,Sunday Service,ONE,2024-03-03 00:00:00,Aaron Chiang,Present
1,Sunday Service,ONE,2024-03-03 00:00:00,Bobby Cheng,Present
2,Sunday Service,ONE,2024-03-03 00:00:00,Chua Ting Wei,Present
3,Sunday Service,ONE,2024-03-03 00:00:00,Gilia Quek,Present
4,Sunday Service,ONE,2024-03-03 00:00:00,Jasariel Chee,Present
...,...,...,...,...,...
339,Cell Group,Kadesh,2024-02-16 00:00:00,Ryder Wong,Absent Valid
340,Cell Group,ONE,2024-02-16 00:00:00,Samuel Pupella,Present
341,Cell Group,Bouquet,2024-02-16 00:00:00,Teo Jia En,Present
342,Cell Group,ONE,2024-02-16 00:00:00,Timothy Tan,Present
343,Cell Group,Bouquet,2024-02-16 00:00:00,Yap Jun Hong,Absent Valid

In [59]:
data.groupby(['event_type','cell_group','date_attended','attendance_type']).agg({'name':'nunique'}).reset_index()

        event_type cell_group        date_attended attendance_type  name
0       Cell Group    Bouquet  2024-02-16 00:00:00    Absent Valid     3
1       Cell Group    Bouquet  2024-02-16 00:00:00         Present     8
2       Cell Group    Bouquet  2024-03-01 00:00:00         Present     9
3       Cell Group    Bouquet  2024-03-15 00:00:00    Absent Valid     4
4       Cell Group    Bouquet  2024-03-15 00:00:00         Present    10
5       Cell Group    Bouquet  2024-03-22 00:00:00    Absent Valid     5
6       Cell Group    Bouquet  2024-03-22 00:00:00         Present     8
7       Cell Group     Gilead  2024-02-18 00:00:00    Absent Valid     1
8       Cell Group     Gilead  2024-02-18 00:00:00         Present     6
9       Cell Group     Gilead  2024-02-25 00:00:00         Present     7
10      Cell Group     Gilead  2024-03-24 00:00:00         Present     5
11      Cell Group     Gilead  2024-03-31 00:00:00         Present     7
12      Cell Group     Kadesh  2024-02-10 00:00:00         Present     3
13      Cell Group     Kadesh  2024-02-16 00:00:00    Absent Valid     6
14      Cell Group     Kadesh  2024-02-16 00:00:00         Present     4
15      Cell Group     Kadesh  2024-03-01 00:00:00    Absent Valid     4
16      Cell Group     Kadesh  2024-03-01 00:00:00         Present     6
17      Cell Group     Kadesh  2024-03-31 00:00:00         Present     1
18      Cell Group        ONE  2024-02-16 00:00:00    Absent Valid     7
19      Cell Group        ONE  2024-02-16 00:00:00         Present    10
20      Cell Group        ONE  2024-03-01 00:00:00    Absent Valid     2
21      Cell Group        ONE  2024-03-01 00:00:00         Present    12
22      Cell Group        ONE  2024-03-15 00:00:00    Absent Valid     4
23      Cell Group        ONE  2024-03-15 00:00:00         Present     9
24      Cell Group        ONE  2024-03-22 00:00:00    Absent Valid     2
25      Cell Group        ONE  2024-03-22 00:00:00         Present     9
26          Others    Bouquet  2024-02-23 00:00:00         Present     4
27          Others    Bouquet  2024-03-29 00:00:00    Absent Valid     2
28          Others    Bouquet  2024-03-29 00:00:00         Present    17
29          Others        ONE  2024-02-23 00:00:00    Absent Valid     7
30          Others        ONE  2024-02-23 00:00:00         Present     7
31          Others        ONE  2024-03-08 00:00:00    Absent Valid     2
32          Others        ONE  2024-03-08 00:00:00         Present    10
33  Sunday Service    Bouquet  2024-02-18 00:00:00         Present    12
34  Sunday Service    Bouquet  2024-02-25 00:00:00         Present     8
35  Sunday Service    Bouquet  2024-03-17 00:00:00    Absent Valid     1
36  Sunday Service    Bouquet  2024-03-17 00:00:00         Present     9
37  Sunday Service    Bouquet  2024-03-24 00:00:00    Absent Valid     4
38  Sunday Service    Bouquet  2024-03-24 00:00:00         Present     9
39  Sunday Service    Bouquet  2024-03-31 00:00:00    Absent Valid     1
40  Sunday Service    Bouquet  2024-03-31 00:00:00         Present    16
41  Sunday Service     Gilead  2024-03-17 00:00:00    Absent Valid     3
42  Sunday Service     Gilead  2024-03-17 00:00:00         Present     4
43  Sunday Service     Kadesh  2024-02-18 00:00:00         Present     2
44  Sunday Service     Kadesh  2024-02-25 00:00:00    Absent Valid     4
45  Sunday Service     Kadesh  2024-02-25 00:00:00         Present     5
46  Sunday Service     Kadesh  2024-03-17 00:00:00    Absent Valid     5
47  Sunday Service     Kadesh  2024-03-17 00:00:00         Present     5
48  Sunday Service     Kadesh  2024-03-24 00:00:00    Absent Valid     4
49  Sunday Service     Kadesh  2024-03-24 00:00:00         Present     7
50  Sunday Service     Kadesh  2024-03-31 00:00:00    Absent Valid     2
51  Sunday Service     Kadesh  2024-03-31 00:00:00         Present     7
52  Sunday Service        ONE  2024-02-18 00:00:00         Present     7
53  Sunday Service        ONE  2024-02-25 00:00:00    Absent Valid     2
54  Sunday Service        ONE  2024-02-25 00:00:00         Present     8
55  Sunday Service        ONE  2024-03-03 00:00:00         Present    10
56  Sunday Service        ONE  2024-03-17 00:00:00         Present     8

In [60]:
df = items.merge(members_df[['cell_group','name','role']], on = ['cell_group','name'])
df

,event_type,cell_group,date_attended,name,attendance_type,role
0,Sunday Service,ONE,2024-03-03 00:00:00,Aaron Chiang,Present,Member
1,Cell Group,ONE,2024-03-15 00:00:00,Aaron Chiang,Absent Valid,Member
2,Others,ONE,2024-03-08 00:00:00,Aaron Chiang,Present,Member
3,Sunday Service,ONE,2024-02-25 00:00:00,Aaron Chiang,Present,Member
4,Others,ONE,2024-02-23 00:00:00,Aaron Chiang,Absent Valid,Member
...,...,...,...,...,...,...
340,Cell Group,Bouquet,2024-03-22 00:00:00,Jolize,Present,New Friend
341,Sunday Service,Kadesh,2024-03-17 00:00:00,Jonah Ng,Present,Member
342,Cell Group,ONE,2024-02-16 00:00:00,Matthew Wong,Absent Valid,Member
343,Cell Group,ONE,2024-02-16 00:00:00,Nikita,Absent Valid,Member
344,Cell Group,ONE,2024-02-16 00:00:00,Samuel Pupella,Present,New Friend

In [78]:
cell_group = 'ONE'
event_type = 'ALL'
attendance_type = 'Present'

if cell_group == 'ALL':
    cell_group = df['cell_group'].unique()
else:
    cell_group = [cell_group]

if event_type == 'ALL':
    event_type = df['event_type'].unique()
else:
    event_type = [event_type]

if attendance_type == 'ALL':
    attendance_type = df['attendance_type'].unique()
else:
    attendance_type = [attendance_type]

filtered_df = df[
    (df['cell_group'].isin(list(cell_group)))&
    (df['event_type'].isin(list(event_type)))&
    (df['attendance_type'].isin(list(attendance_type)))
]

temp = filtered_df.groupby(['date_attended','event_type','cell_group']).agg({'role':lambda x: (x == 'Member').sum(),
                                         'name':'count'}).reset_index()
temp['avg_percentage'] = round(temp['role']/temp['name']*100.0,0)
temp

         date_attended      event_type cell_group  role  name  avg_percentage
0  2024-02-16 00:00:00      Cell Group        ONE     8    11            73.0
1  2024-02-18 00:00:00  Sunday Service        ONE     5     7            71.0
2  2024-02-23 00:00:00          Others        ONE     3     5            60.0
3  2024-02-25 00:00:00  Sunday Service        ONE     6     8            75.0
4  2024-03-01 00:00:00      Cell Group        ONE     9    12            75.0
5  2024-03-03 00:00:00  Sunday Service        ONE     7     9            78.0
6  2024-03-08 00:00:00          Others        ONE     7     9            78.0
7  2024-03-15 00:00:00      Cell Group        ONE     7     9            78.0
8  2024-03-17 00:00:00  Sunday Service        ONE     6     8            75.0
9  2024-03-22 00:00:00      Cell Group        ONE     7    10            70.0

In [21]:
temp = filtered_df.groupby(['date_attended','event_type','cell_group']).agg({'role':lambda x: (x == 'Member').sum()}).reset_index()
temp

          date_attended      event_type cell_group  role
0   2024-02-16 00:00:00      Cell Group    Bouquet     6
1   2024-02-18 00:00:00  Sunday Service    Bouquet    10
2   2024-02-23 00:00:00          Others    Bouquet     3
3   2024-02-25 00:00:00  Sunday Service    Bouquet     5
4   2024-03-01 00:00:00      Cell Group    Bouquet     6
5   2024-03-15 00:00:00      Cell Group    Bouquet     7
6   2024-03-17 00:00:00  Sunday Service    Bouquet     6
7   2024-03-22 00:00:00      Cell Group    Bouquet     5
8   2024-03-24 00:00:00  Sunday Service    Bouquet     6
9   2024-03-29 00:00:00          Others    Bouquet    10
10  2024-03-31 00:00:00  Sunday Service    Bouquet    11
11  2024-04-05 00:00:00      Cell Group    Bouquet     4

In [23]:
filtered_df.groupby(['cell_group']).agg({'name':list,
                                         'name':'count'})

            name
cell_group
Bouquet       79

In [91]:
members_df.groupby(['cell_group']).agg({'role':lambda x: (x == 'Member').sum()})

            role
cell_group
Bouquet       16
Gilead         4
Kadesh        10
ONE           18

In [92]:
members_df.groupby(['cell_group']).agg({'role':lambda x: (x == 'Leader').sum()})

            role
cell_group
Bouquet        3
Gilead         3
Kadesh         3
ONE            3

In [94]:
members_df.groupby(['cell_group']).agg({'role':lambda x: (x == 'New Friend').sum()})

            role
cell_group
Bouquet        7
Gilead         0
Kadesh         0
ONE            1

In [93]:
members_df.groupby(['cell_group']).agg({'role':'count'})

            role
cell_group
Bouquet       26
Gilead         7
Kadesh        13
ONE           22

In [89]:
members_df

    birth_date cell_group        role                        name telegram_id
0   01-01-2000    Bouquet      Member                 Andrew Chen        None
1   01-01-2000     Gilead      Leader               Matthias Chan        None
2   01-01-2000        ONE      Member                Jonathan Teo        None
3   01-01-2000    Bouquet  New Friend  Shin Ying (Chloe’s friend)        None
4   01-01-2000        ONE      Member                   Bryan Yau        None
..         ...        ...         ...                         ...         ...
63  01-01-2000    Bouquet  New Friend    Wen Jin (Chloe’s friend)        None
64  01-01-2000    Bouquet      Member                     Jie Wei        None
65  01-01-2000        ONE      Member                      Nikita        None
66  01-01-2000    Bouquet  New Friend       Seth (Chloe’s friend)        None
67  01-01-2000     Gilead      Leader                   Mark Chua        None

[68 rows x 5 columns]

import boto3
import pandas as pd
import numpy as np
import creds
from dash import Dash, dcc, html, Input, Output
import plotly.express as px


db_client = boto3.resource('dynamodb',aws_access_key_id=creds.AWS_ACCESS_KEY,aws_secret_access_key=creds.AWS_SECRET_ACCESS_KEY)
table = db_client.Table('attendance')
response = table.scan()
items = response['Items']
data = pd.DataFrame(items)

df = data.groupby(['event_type','cell_group','date_attended','attendance_type']).agg({'name':'nunique'}).reset_index()

colors = {
    'background': '#DEDEDE',
    'text': '#111111'
}

app = Dash(__name__)

app.layout = html.Div(style={'backgroundColor': colors['background']}, children = [
    html.H4('POD Youth Ministry Attendance Dashboard'),

    html.Div([

        html.Div([
            html.P('Select cell group:'),
            dcc.Dropdown(
                id = 'select_cell_group',
                options = ['ALL'] + list(df['cell_group'].unique()),
                value = 'ALL',
                clearable=False
            )
        ], style={'width': '48%', 'display': 'inline-block'}),

        html.Div([
            html.P('Select event type:'),
            dcc.Dropdown(
                id = 'select_event_type',
                options = ['ALL'] + list(df['event_type'].unique()),
                value = 'ALL',
                clearable=False
            )
        ], style={'width': '48%', 'float': 'right', 'display': 'inline-block'})

    ]),

    html.Div([

        html.Div([
            html.P('Select attendance type:'),
            dcc.Dropdown(
                id = 'select_attendance_type',
                options = ['ALL'] + list(df['attendance_type'].unique()),
                value = 'ALL',
                clearable=False
            )
        ], style={'width': '48%', 'display': 'inline-block'}),

        html.Div([
            html.P('Select month:'),
            dcc.Dropdown(
                id = 'select_month',
                options = ['ALL'] + list(df['event_type'].unique()),
                value = 'ALL',
                clearable=False
            )
        ], style={'width': '48%', 'float': 'right', 'display': 'inline-block'})
        
    ]),

    dcc.Graph(id = 'barplot1'),
])

@app.callback(
    Output('barplot1','figure'),
    Input('select_cell_group', 'value'),
    Input('select_event_type', 'value'),
    Input('select_attendance_type', 'value'),
    Input('select_month', 'value'),)
def display_cell_group(cell_group, event_type, attendance_type, month):
    if cell_group == 'ALL':
        cell_group = df['cell_group'].unique()
    else:
        cell_group = [cell_group]

    if event_type == 'ALL':
        event_type = df['event_type'].unique()
    else:
        event_type = [event_type]

    if attendance_type == 'ALL':
        attendance_type = df['attendance_type'].unique()
    else:
        attendance_type = [attendance_type]
    
    filtered_df = df[
        (df['cell_group'].isin(list(cell_group)))&
        (df['event_type'].isin(list(event_type)))&
        (df['attendance_type'].isin(list(attendance_type)))
    ]

    fig = px.bar(filtered_df, x="date_attended",  y = 'name',
                 hover_data=['cell_group', 'event_type'], color='event_type',
                 text_auto=True)

    fig.update_layout(
    plot_bgcolor=colors['background'],
    paper_bgcolor=colors['background'],
    font_color=colors['text'],
    xaxis_tickangle=-45
    )
    
    return fig

# Run the app
if __name__ == '__main__':
    app.run(debug=True)

In [15]:
pd.DataFrame(list(range(8,13)), columns = ['week_number'])

   week_number
0            8
1            9
2           10
3           11
4           12

In [16]:
import boto3
import pandas as pd
import numpy as np
import creds
from dash import Dash, dcc, html, Input, Output
import plotly.express as px


db_client = boto3.resource('dynamodb',aws_access_key_id=creds.AWS_ACCESS_KEY,aws_secret_access_key=creds.AWS_SECRET_ACCESS_KEY)

def get_data(table_name, db_client):
    data = pd.DataFrame(db_client.Table(table_name).scan()['Items'])
    return data

attendance = get_data('attendance',db_client)
members = get_data('person',db_client)

df = attendance[['event_type','cell_group','date_attended']].drop_duplicates().merge(members[['cell_group','role','name']], on = ['cell_group'], how = 'outer')
df = df.merge(attendance, on = ['event_type','cell_group','date_attended','name'], how = 'left')
df['attendance_type'] = np.where(df['attendance_type'].isna(), 'Absent Invalid', df['attendance_type'])

colors = {
    'background': '#FFFFFF',
    'text': '#111111'
}

app = Dash(__name__)

app.layout = html.Div(style={'backgroundColor': colors['background']}, children = [
    
    html.Div([

        html.H1('POD Youth Ministry Attendance Dashboard')

    ], style={
        'padding': '5px 10px'
    }),

    html.Div([

        html.Div([
            html.P('Select cell group:'),
            dcc.Dropdown(
                id = 'select_cell_group',
                options = ['ALL'] + list(df['cell_group'].unique()),
                value = 'ALL',
                clearable=False
            )
        ], style={'width': '48%', 'display': 'inline-block'}),

        html.Div([
            html.P('Select event type:'),
            dcc.Dropdown(
                id = 'select_event_type',
                options = ['ALL'] + list(df['event_type'].unique()),
                value = 'ALL',
                clearable=False
            )
        ], style={'width': '48%', 'float': 'right', 'display': 'inline-block'})

    ], style={
        'padding': '0px 10px'
    }),

    html.Div([

        html.Div([
            html.P('Select attendance type:'),
            dcc.Dropdown(
                id = 'select_attendance_type',
                options = ['ALL'] + list(df['attendance_type'].unique()),
                value = 'ALL',
                clearable=False
            )
        ], style={'width': '48%', 'display': 'inline-block'}),

        html.Div([
            html.P('Select role:'),
            dcc.Dropdown(
                id = 'select_role',
                options = ['ALL'] + list(df['role'].unique()),
                value = 'ALL',
                clearable=False
            )
        ], style={'width': '48%', 'float': 'right', 'display': 'inline-block'})
        
    ], style={
        'padding': '20px 10px'
    }),

    html.Div([html.Hr()], style={
        'padding': '10px 10px'
    }),

    dcc.Graph(id = 'heatmap1'),

    html.Div([html.Hr()], style={
        'padding': '10px 10px'
    }),

    html.Div([

        html.Div([
            dcc.Graph(id = 'table1')
        ], style={'width': '48%', 'display': 'inline-block'}),

        html.Div([
            dcc.Graph(id = 'table2')
        ], style={'width': '48%', 'float': 'right', 'display': 'inline-block'})
        
    ], style={
        'padding': '10px 0px'
    }),
    
    dcc.Graph(id = 'barplot1'),

    html.Div([html.Hr()], style={
        'padding': '10px 10px'
    }),

    html.Div([

        html.Div([
            dcc.Graph(id = 'table3')
        ], style={'width': '48%', 'display': 'inline-block'}),

        html.Div([
            dcc.Graph(id = 'table4')
        ], style={'width': '48%', 'float': 'right', 'display': 'inline-block'})
        
    ], style={
        'padding': '10px 0px'
    }),

    dcc.Graph(id = 'barplot2'),
])


@app.callback(
    Output('table1','figure'),
    Input('select_cell_group', 'value'),
    Input('select_event_type', 'value'),
    Input('select_attendance_type', 'value'),
    Input('select_role', 'value'),)
def display_cell_group(cell_group, event_type, attendance_type, role):
    if cell_group == 'ALL':
        cell_group = df['cell_group'].unique()
    else:
        cell_group = [cell_group]

    if event_type == 'ALL':
        event_type = df['event_type'].unique()
    else:
        event_type = [event_type]

    if attendance_type == 'ALL':
        attendance_type = df['attendance_type'].unique()
    else:
        attendance_type = [attendance_type]

    if role == 'ALL':
        role = df['role'].unique()
    else:
        role = [role]

    filtered_df = df[
        (df['cell_group'].isin(list(cell_group)))&
        (df['event_type'].isin(list(event_type)))&
        (df['attendance_type'].isin(list(attendance_type)))&
        (df['role'].isin(list(role)))
    ]

    temp = filtered_df.groupby(['date_attended']).agg({'name':'count'}).reset_index()
    
    x = ['']
    y = ['']
    z = [[0.0]]

    z_text = [[round(temp['name'].mean(),0)]]

    fig = px.imshow(z, x=x, y=y, color_continuous_scale='BrBG', aspect = 'auto')#, color_continuous_scale='Viridis', aspect="auto")
    fig.update_traces(text=z_text, texttemplate="%{text}")
    fig.update_xaxes(side="top")
    fig.update_coloraxes(showscale=False)
    fig.update_layout(font=dict(size=18))

    fig.update_layout(
    plot_bgcolor=colors['background'],
    paper_bgcolor=colors['background'],
    font_color=colors['text'],
    xaxis_tickangle=-45,
    title_text='Average Attendance',
    height = 200
    )
    
    return fig


@app.callback(
    Output('table2','figure'),
    Input('select_cell_group', 'value'),
    Input('select_event_type', 'value'),
    Input('select_attendance_type', 'value'),
    Input('select_role', 'value'),)
def display_cell_group(cell_group, event_type, attendance_type, role):
    if cell_group == 'ALL':
        cell_group = df['cell_group'].unique()
    else:
        cell_group = [cell_group]

    if event_type == 'ALL':
        event_type = df['event_type'].unique()
    else:
        event_type = [event_type]

    if attendance_type == 'ALL':
        attendance_type = df['attendance_type'].unique()
    else:
        attendance_type = [attendance_type]

    if role == 'ALL':
        role = df['role'].unique()
    else:
        role = [role]

    filtered_df = df[
        (df['cell_group'].isin(list(cell_group)))&
        (df['event_type'].isin(list(event_type)))&
        (df['attendance_type'].isin(list(attendance_type)))&
        (df['role'].isin(list(role)))
    ]

    temp = filtered_df.groupby(['date_attended']).agg({'name':'count'}).reset_index().sort_values('date_attended').iloc[-3:,:]
    
    x = ['']
    y = ['']
    z = [[0.0]]

    z_text = [[round(temp['name'].mean(),0)]]

    fig = px.imshow(z, x=x, y=y, color_continuous_scale='BrBG', aspect = 'auto')#, color_continuous_scale='Viridis', aspect="auto")
    fig.update_traces(text=z_text, texttemplate="%{text}")
    fig.update_xaxes(side="top")
    fig.update_coloraxes(showscale=False)
    fig.update_layout(font=dict(size=18))

    fig.update_layout(
    plot_bgcolor=colors['background'],
    paper_bgcolor=colors['background'],
    font_color=colors['text'],
    xaxis_tickangle=-45,
    title_text='L3W Average Attendance',
    height = 200
    )
    
    return fig


@app.callback(
    Output('heatmap1','figure'),
    Input('select_cell_group', 'value'),
    Input('select_event_type', 'value'),
    Input('select_attendance_type', 'value'),
    Input('select_role', 'value'),)
def display_cell_group(cell_group, event_type, attendance_type, role):
    if cell_group == 'ALL':
        cell_group = df['cell_group'].unique()
    else:
        cell_group = [cell_group]

    if event_type == 'ALL':
        event_type = df['event_type'].unique()
    else:
        event_type = [event_type]

    if attendance_type == 'ALL':
        attendance_type = df['attendance_type'].unique()
    else:
        attendance_type = [attendance_type]

    if role == 'ALL':
        role = df['role'].unique()
    else:
        role = [role]

    filtered_df = df[
        (df['cell_group'].isin(list(cell_group)))&
        (df['event_type'].isin(list(event_type)))&
        (df['attendance_type'].isin(list(attendance_type)))&
        (df['role'].isin(list(role)))
    ]

    filtered_df['week_number'] = pd.to_datetime(filtered_df['date_attended']).dt.isocalendar().week

    # test = filtered_df.groupby(['event_type','week_number']).agg({'name':'count'}).reset_index().sort_values('week_number')
    test = filtered_df.groupby(['event_type','week_number']).agg({'name':'count'}).reset_index()
    skeleton = pd.DataFrame(list(range(test['week_number'].min(),test['week_number'].max())), columns = ['week_number'])
    test = skeleton.merge(test, on = 'week_number').sort_values('week_number')

    values = test.pivot(index='event_type',columns='week_number',values='name').values
    y = test['event_type'].unique()
    x = ['CW '+ value for value in test['week_number'].unique().astype(str)]

    fig = px.imshow(values, x=x, y=y, color_continuous_scale='BuGn', aspect="auto")
    fig.update_traces(text = values, texttemplate="%{text}")
    fig.update_xaxes(side="top")

    fig.update_layout(
    plot_bgcolor=colors['background'],
    paper_bgcolor=colors['background'],
    font_color=colors['text'],
    title={'text': 'Heat Map across Event Types and Week Numbers', 'font': {'size': 24}}
    )
    
    return fig


@app.callback(
    Output('barplot1','figure'),
    Input('select_cell_group', 'value'),
    Input('select_event_type', 'value'),
    Input('select_attendance_type', 'value'),
    Input('select_role', 'value'),)
def display_cell_group(cell_group, event_type, attendance_type, role):
    if cell_group == 'ALL':
        cell_group = df['cell_group'].unique()
    else:
        cell_group = [cell_group]

    if event_type == 'ALL':
        event_type = df['event_type'].unique()
    else:
        event_type = [event_type]

    if attendance_type == 'ALL':
        attendance_type = df['attendance_type'].unique()
    else:
        attendance_type = [attendance_type]

    if role == 'ALL':
        role = df['role'].unique()
    else:
        role = [role]

    filtered_df = df[
        (df['cell_group'].isin(list(cell_group)))&
        (df['event_type'].isin(list(event_type)))&
        (df['attendance_type'].isin(list(attendance_type)))&
        (df['role'].isin(list(role)))
    ]

    denominator_df = df[
        (df['cell_group'].isin(list(cell_group)))&
        (df['event_type'].isin(list(event_type)))&
        (df['role'].isin(list(role)))
    ]

    temp = filtered_df.groupby(['date_attended','cell_group']).agg({'role':'count',
                                                                    'name':','.join}).reset_index()
    denom = denominator_df.groupby(['date_attended','cell_group']).agg({'name':'count'}).reset_index()

    res = temp.merge(denom, on = ['date_attended','cell_group'], how = 'outer')
    res.fillna(0.0, inplace = True)
    res['percentage'] = round(res['role']/res['name_y']*100,1)

    fig = px.bar(res, x="date_attended",  y = 'role',
                 hover_data=['name_x'],
                 labels={'role':'Count',
                         'date_attended':'Date'},
                 text_auto=True,
                 color = 'cell_group')
    # fig.add_bar(res, x='date_attended', y='percentage')

    fig.update_layout(
    # plot_bgcolor=colors['background'],
    # paper_bgcolor=colors['background'],
    font_color=colors['text'],
    xaxis_tickangle=-45,
    title={'text': 'Attendance by the Dates', 'font': {'size': 24}}
    )
    
    return fig




@app.callback(
    Output('table3','figure'),
    Input('select_cell_group', 'value'),
    Input('select_event_type', 'value'),
    Input('select_attendance_type', 'value'),
    Input('select_role', 'value'),)
def display_cell_group(cell_group, event_type, attendance_type, role):
    if cell_group == 'ALL':
        cell_group = df['cell_group'].unique()
    else:
        cell_group = [cell_group]

    if event_type == 'ALL':
        event_type = df['event_type'].unique()
    else:
        event_type = [event_type]

    if attendance_type == 'ALL':
        attendance_type = df['attendance_type'].unique()
    else:
        attendance_type = [attendance_type]

    if role == 'ALL':
        role = df['role'].unique()
    else:
        role = [role]

    filtered_df = df[
        (df['cell_group'].isin(list(cell_group)))&
        (df['event_type'].isin(list(event_type)))&
        (df['attendance_type'].isin(list(attendance_type)))&
        (df['role'].isin(list(role)))
    ].copy()

    denominator_df = df[
        (df['cell_group'].isin(list(cell_group)))&
        (df['event_type'].isin(list(event_type)))&
        (df['role'].isin(list(role)))
    ].copy()

    temp = filtered_df.groupby(['date_attended']).agg({'name':'count'}).reset_index()
    denom = denominator_df.groupby(['date_attended']).agg({'name':'count'}).reset_index()

    res = temp.merge(denom, on = 'date_attended', how = 'outer')
    res.fillna(0.0, inplace = True)
    res['percentage'] = round(res['name_x']/res['name_y']*100,1)
    res['type'] = 'Percent'
    
    x = ['']
    y = ['']
    z = [[0.0]]

    z_text = [[str(round(res['percentage'].mean(),0)) + '%']]

    fig = px.imshow(z, x=x, y=y, color_continuous_scale='BrBG', aspect = 'auto')#, color_continuous_scale='Viridis', aspect="auto")
    fig.update_traces(text=z_text, texttemplate="%{text}")
    fig.update_xaxes(side="top")
    fig.update_coloraxes(showscale=False)
    fig.update_layout(font=dict(size=18))

    fig.update_layout(
    plot_bgcolor=colors['background'],
    paper_bgcolor=colors['background'],
    font_color=colors['text'],
    xaxis_tickangle=-45,
    title_text='Average Attendance',
    height = 200
    )
    
    return fig



@app.callback(
    Output('table4','figure'),
    Input('select_cell_group', 'value'),
    Input('select_event_type', 'value'),
    Input('select_attendance_type', 'value'),
    Input('select_role', 'value'),)
def display_cell_group(cell_group, event_type, attendance_type, role):
    if cell_group == 'ALL':
        cell_group = df['cell_group'].unique()
    else:
        cell_group = [cell_group]

    if event_type == 'ALL':
        event_type = df['event_type'].unique()
    else:
        event_type = [event_type]

    if attendance_type == 'ALL':
        attendance_type = df['attendance_type'].unique()
    else:
        attendance_type = [attendance_type]

    if role == 'ALL':
        role = df['role'].unique()
    else:
        role = [role]

    filtered_df = df[
        (df['cell_group'].isin(list(cell_group)))&
        (df['event_type'].isin(list(event_type)))&
        (df['attendance_type'].isin(list(attendance_type)))&
        (df['role'].isin(list(role)))
    ].copy()

    denominator_df = df[
        (df['cell_group'].isin(list(cell_group)))&
        (df['event_type'].isin(list(event_type)))&
        (df['role'].isin(list(role)))
    ].copy()

    temp = filtered_df.groupby(['date_attended']).agg({'name':'count'}).reset_index()
    denom = denominator_df.groupby(['date_attended']).agg({'name':'count'}).reset_index()

    res = temp.merge(denom, on = 'date_attended', how = 'outer').sort_values('date_attended').iloc[-3:,:]
    res.fillna(0.0, inplace = True)
    res['percentage'] = round(res['name_x']/res['name_y']*100,1)
    res['type'] = 'Percent'
    
    x = ['']
    y = ['']
    z = [[0.0]]

    z_text = [[str(round(res['percentage'].mean(),0)) + '%']]

    fig = px.imshow(z, x=x, y=y, color_continuous_scale='BrBG', aspect = 'auto')#, color_continuous_scale='Viridis', aspect="auto")
    fig.update_traces(text=z_text, texttemplate="%{text}")
    fig.update_xaxes(side="top")
    fig.update_coloraxes(showscale=False)
    fig.update_layout(font=dict(size=18))

    fig.update_layout(
    plot_bgcolor=colors['background'],
    paper_bgcolor=colors['background'],
    font_color=colors['text'],
    xaxis_tickangle=-45,
    title_text='Average Attendance',
    height = 200
    )
    
    return fig


@app.callback(
    Output('barplot2','figure'),
    Input('select_cell_group', 'value'),
    Input('select_event_type', 'value'),
    Input('select_attendance_type', 'value'),
    Input('select_role', 'value'),)
def display_cell_group(cell_group, event_type, attendance_type, role):
    if cell_group == 'ALL':
        cell_group = df['cell_group'].unique()
    else:
        cell_group = [cell_group]

    if event_type == 'ALL':
        event_type = df['event_type'].unique()
    else:
        event_type = [event_type]

    if attendance_type == 'ALL':
        attendance_type = df['attendance_type'].unique()
    else:
        attendance_type = [attendance_type]

    if role == 'ALL':
        role = df['role'].unique()
    else:
        role = [role]

    filtered_df = df[
        (df['cell_group'].isin(list(cell_group)))&
        (df['event_type'].isin(list(event_type)))&
        (df['attendance_type'].isin(list(attendance_type)))&
        (df['role'].isin(list(role)))
    ].copy()

    denominator_df = df[
        (df['cell_group'].isin(list(cell_group)))&
        (df['event_type'].isin(list(event_type)))&
        (df['role'].isin(list(role)))
    ].copy()

    temp = filtered_df.groupby(['date_attended']).agg({'name':'count'}).reset_index()
    denom = denominator_df.groupby(['date_attended']).agg({'name':'count'}).reset_index()

    res = temp.merge(denom, on = 'date_attended', how = 'outer')
    res.fillna(0.0, inplace = True)
    res['percentage'] = round(res['name_x']/res['name_y']*100,1)
    res['type'] = 'Percent'

    fig = px.bar(res, x="date_attended",  y = 'percentage',
                 hover_data=['date_attended'],
                 labels={'percentage':'Percentage',
                         'date_attended':'Date'},
                 text_auto=True,
                 color = 'type')

    fig.update_layout(
    # plot_bgcolor=colors['background'],
    # paper_bgcolor=colors['background'],
    font_color=colors['text'],
    xaxis_tickangle=-45,
    title={'text': 'Attendance Fulfilment (%) by the Dates', 'font': {'size': 24}}
    )
    
    return fig

# Run the app
if __name__ == '__main__':
    app.run(debug=True)

/var/folders/2p/zj7y6jln2cx01_2bx3tcsmy80000gn/T/ipykernel_12667/1557997793.py:293: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/var/folders/2p/zj7y6jln2cx01_2bx3tcsmy80000gn/T/ipykernel_12667/1557997793.py:293: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/var/folders/2p/zj7y6jln2cx01_2bx3tcsmy80000gn/T/ipykernel_12667/1557997793.py:293: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [78]:
temp

          date_attended  name
0   2024-02-16 00:00:00     6
1   2024-02-18 00:00:00    10
2   2024-02-23 00:00:00     3
3   2024-02-25 00:00:00     5
4   2024-03-01 00:00:00     6
5   2024-03-15 00:00:00     7
6   2024-03-17 00:00:00     6
7   2024-03-22 00:00:00     5
8   2024-03-24 00:00:00     6
9   2024-03-29 00:00:00    10
10  2024-03-31 00:00:00    11

In [87]:
attendance[(attendance['cell_group']=='Kadesh')&(attendance['date_attended']=='2024-03-31 00:00:00')]

,event_type,cell_group,date_attended,name,attendance_type
89,Sunday Service,Kadesh,2024-03-31 00:00:00,Asher Tay,Present
90,Sunday Service,Kadesh,2024-03-31 00:00:00,Caitlin Tan,Present
95,Sunday Service,Kadesh,2024-03-31 00:00:00,Faith Tan,Present
98,Cell Group,Kadesh,2024-03-31 00:00:00,Ian Lam,Present
99,Sunday Service,Kadesh,2024-03-31 00:00:00,Jayden Yoshimura,Absent Valid
101,Sunday Service,Kadesh,2024-03-31 00:00:00,Joanne Tan,Present
102,Sunday Service,Kadesh,2024-03-31 00:00:00,Joel Lau,Absent Valid
103,Sunday Service,Kadesh,2024-03-31 00:00:00,Joette Tan,Present
104,Sunday Service,Kadesh,2024-03-31 00:00:00,Jolene Tan,Present
113,Sunday Service,Kadesh,2024-03-31 00:00:00,Ryder Wong,Present

In [1]:
from dash import Dash, html, dcc, Input, Output, callback
import pandas as pd
import plotly.express as px

external_stylesheets = ['https://codepen.io/chriddyp/pen/bWLwgP.css']

app = Dash(__name__, external_stylesheets=external_stylesheets)

df = pd.read_csv('https://plotly.github.io/datasets/country_indicators.csv')


app.layout = html.Div([
    html.Div([

        html.Div([
            dcc.Dropdown(
                df['Indicator Name'].unique(),
                'Fertility rate, total (births per woman)',
                id='crossfilter-xaxis-column',
            ),
            dcc.RadioItems(
                ['Linear', 'Log'],
                'Linear',
                id='crossfilter-xaxis-type',
                labelStyle={'display': 'inline-block', 'marginTop': '5px'}
            )
        ],
        style={'width': '49%', 'display': 'inline-block'}),

        html.Div([
            dcc.Dropdown(
                df['Indicator Name'].unique(),
                'Life expectancy at birth, total (years)',
                id='crossfilter-yaxis-column'
            ),
            dcc.RadioItems(
                ['Linear', 'Log'],
                'Linear',
                id='crossfilter-yaxis-type',
                labelStyle={'display': 'inline-block', 'marginTop': '5px'}
            )
        ], style={'width': '49%', 'float': 'right', 'display': 'inline-block'})
    ], style={
        'padding': '10px 5px'
    }),

    html.Div([
        dcc.Graph(
            id='crossfilter-indicator-scatter',
            hoverData={'points': [{'customdata': 'Japan'}]}
        )
    ], style={'width': '49%', 'display': 'inline-block', 'padding': '0 20'}),
    html.Div([
        dcc.Graph(id='x-time-series'),
        dcc.Graph(id='y-time-series'),
    ], style={'display': 'inline-block', 'width': '49%'}),

    html.Div(dcc.Slider(
        df['Year'].min(),
        df['Year'].max(),
        step=None,
        id='crossfilter-year--slider',
        value=df['Year'].max(),
        marks={str(year): str(year) for year in df['Year'].unique()}
    ), style={'width': '49%', 'padding': '0px 20px 20px 20px'})
])


@callback(
    Output('crossfilter-indicator-scatter', 'figure'),
    Input('crossfilter-xaxis-column', 'value'),
    Input('crossfilter-yaxis-column', 'value'),
    Input('crossfilter-xaxis-type', 'value'),
    Input('crossfilter-yaxis-type', 'value'),
    Input('crossfilter-year--slider', 'value'))
def update_graph(xaxis_column_name, yaxis_column_name,
                 xaxis_type, yaxis_type,
                 year_value):
    dff = df[df['Year'] == year_value]

    fig = px.scatter(x=dff[dff['Indicator Name'] == xaxis_column_name]['Value'],
            y=dff[dff['Indicator Name'] == yaxis_column_name]['Value'],
            hover_name=dff[dff['Indicator Name'] == yaxis_column_name]['Country Name']
            )

    fig.update_traces(customdata=dff[dff['Indicator Name'] == yaxis_column_name]['Country Name'])

    fig.update_xaxes(title=xaxis_column_name, type='linear' if xaxis_type == 'Linear' else 'log')

    fig.update_yaxes(title=yaxis_column_name, type='linear' if yaxis_type == 'Linear' else 'log')

    fig.update_layout(margin={'l': 40, 'b': 40, 't': 10, 'r': 0}, hovermode='closest')

    return fig


def create_time_series(dff, axis_type, title):

    fig = px.scatter(dff, x='Year', y='Value')

    fig.update_traces(mode='lines+markers')

    fig.update_xaxes(showgrid=False)

    fig.update_yaxes(type='linear' if axis_type == 'Linear' else 'log')

    fig.add_annotation(x=0, y=0.85, xanchor='left', yanchor='bottom',
                       xref='paper', yref='paper', showarrow=False, align='left',
                       text=title)

    fig.update_layout(height=225, margin={'l': 20, 'b': 30, 'r': 10, 't': 10})

    return fig


@callback(
    Output('x-time-series', 'figure'),
    Input('crossfilter-indicator-scatter', 'hoverData'),
    Input('crossfilter-xaxis-column', 'value'),
    Input('crossfilter-xaxis-type', 'value'))
def update_x_timeseries(hoverData, xaxis_column_name, axis_type):
    country_name = hoverData['points'][0]['customdata']
    dff = df[df['Country Name'] == country_name]
    dff = dff[dff['Indicator Name'] == xaxis_column_name]
    title = '<b>{}</b><br>{}'.format(country_name, xaxis_column_name)
    return create_time_series(dff, axis_type, title)


@callback(
    Output('y-time-series', 'figure'),
    Input('crossfilter-indicator-scatter', 'hoverData'),
    Input('crossfilter-yaxis-column', 'value'),
    Input('crossfilter-yaxis-type', 'value'))
def update_y_timeseries(hoverData, yaxis_column_name, axis_type):
    dff = df[df['Country Name'] == hoverData['points'][0]['customdata']]
    dff = dff[dff['Indicator Name'] == yaxis_column_name]
    return create_time_series(dff, axis_type, yaxis_column_name)


if __name__ == '__main__':
    app.run(debug=True)

KeyboardInterrupt: